ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    padding: 10px;
    margin: 10px;
}

li a:hover {
    background-color: blueviolet;
}

.Quick-Links {
    display: inside;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header h1 nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }