.weather-results {
  margin: 50px 0 20px;
}
 
.weather-results .cities {
  display: grid;
  grid-gap: 32px 20px;
}
.weather-results .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: var(--text_light);
  color: var(--text_med);
}
 
.weather-results .city::after {
  content: ’’;
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: var(--text_light);
}
 
.weather-results figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
 
.weather-results .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}
 
.weather-results .city sup {
  font-size: 0.5em;
}
 
.weather-results .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}
 
.weather-results .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}